*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    gap: 30px;
}
.parent{
    margin-top: 20px;
    height: 600.14px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.fone{
    width: 380.31px;
    height: 581.14px;
}
.login{
    width: 348px;
    height: 600.14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.women{
    background-image:url(screenshot1.png) ;
    width: 250px;
    height: 538px;
    position: absolute;
    margin-top: -45.3%;
    margin-left: 11.5%;
    transition: 2s;
}
.inst{
    border: 1px solid rgba(128, 128, 128, 0.363);
    height: 401px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hate{
    background-image: url(yXM3FgMdVNX.png);
    width: 175px;
    height: 51px;
    background-position: 100% 40%;
}
.ent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ent input{
    border: 1px solid rgba(128, 128, 128, 0.363);
    width: 258px;
    height: 34px;
    border-radius: 2px;
    font-size: 12px;
}
.ent button{
    border: 1px solid rgba(128, 128, 128, 0.363);
    color: white;
    background-color: rgba(30, 143, 255, 0.781);
    width: 258px;
    height: 32px;
    border-radius: 7px;
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
}
.ent a{
    text-decoration: none;
    font-size: 13px;
    color: #385185;
    margin: 10px;
}
.or{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}
.or div{
    border-bottom:1px solid rgba(128, 128, 128, 0.363) ;
    width: 109px;
    height: 1px;
}
.Flogin{
    width: 268px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px;
    color: #385185;
    font-weight: 700;
    margin: 10px;
}
.face{
    background-image: url(bruh.png);
    width: 16px;
    height: 16px;
    background-position: 100% 67.5%;
}
.Signup{
    border: 1px solid rgba(128, 128, 128, 0.363);
    width: 350px;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}
.Signup a{
    text-decoration: none;
    font-weight: bold;
    color: dodgerblue;
}
.GTA{
    font-size: 14px;
}
.GIO{
    width: 350px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.GIO img{
    width: 134px;
    height: 40px;
}
footer{
    height: 134px;
}
.end{
    margin-top: 30px;
    width: 930px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.end ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 12px;
    color: grey;
}
.end ul :hover{
    cursor: pointer;
    text-decoration: underline;
}
.meta{
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 12px;
    gap: 10px;
}
.Engli{
    border: none;
    color: grey;
}